<ul>
  <p> Il y'a  {{compteur}} tâche terminées</p>
  <!-- <app-task [name]="name1" (livreurbooleen)="cherchermessage($event)" [complete]  =  "complete1" ></app-task>
  <app-task [name]="name2" (livreurbooleen)="cherchermessage($event)" [complete]  =  "complete2" ></app-task>
  <app-task [name]="name3" (livreurbooleen)="cherchermessage($event)" [complete] =  "complete3" ></app-task> -->
 <!-- code a la main  -->

  <!-- <p>
    Afficher le commande {{ taskslist[0].id}} {{ taskslist[0].title }} {{ taskslist[0].completed }} {{ taskslist[0].description }} <br>

    Afficher le commande {{ taskslist[1].id}} {{ taskslist[1].title }} {{ taskslist[1].completed }} {{ taskslist[1].description }}<br>

    Afficher le commande {{ taskslist[2].id }} {{ taskslist[2].title}}{{ taskslist[2].completed }} {{ taskslist[2].description }}<br>

    Afficher le commande {{ taskslist[3].id }} {{ taskslist[3].title }} {{ taskslist[3].completed }} {{ taskslist[3].description }}<br>

    Afficher le commande {{ taskslist[4].id }} {{ taskslist[4].title}} {{ taskslist[4].completed}} {{ taskslist[1].description }} <br>

    Afficher le commande {{ taskslist[5].id }} {{ taskslist[5].title }} {{ taskslist[5].completed }} {{ taskslist[5].description }} <br>
    </p> -->

</ul>


  <!-- code avce *ngFor="let item of list" La directive structurelle ngFor permet de boucler sur un array et d'injecter les éléments dans le DOM. -->

<ul>
  <!-- trackByFunction permet d'aller chercher seulement ce qui a changé dans la liste et l'afficher toujours le mettre avant la liste -->
  <app-task *ngFor=" let task of taskslist; trackBy:trackByFunction"
  (livreurbooleen)="cherchermessage($event)"
  [task]="task"></app-task>
</ul>





